---
import BaseLayout from "@layouts/base_layout.astro";
---

<BaseLayout pageTitle="$ ./home.sh">
    <main>
        <h1>Website under work.</h1>
        <a href="https://github.com/sydist">My Github.</a>
    </main>
</BaseLayout>
