<!doctype html>
<html lang="en">
    <head>
        <title>$ ./sydist.sh -p "HOME"</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="color-scheme" content="dark light">

        <style is:inline>
            h1, p, body
            {
                margin: 0;
            }
            
            body
            {
                box-sizing: border-box;
                padding: 2rem;
                min-height: 100vh;
                font-family: monospace;
                font-size: 1.25rem;
            }

            footer
            {
                position: fixed;
                bottom: 2rem;
            }
        </style>
    </head>
    <body>
        <main>
            <h1>
                This page is currently under maintenance!<br>
                In the meantime: <a href="https://github.com/sydist">check out my Github</a>.
            </h1>
        </main>
        <footer>
            <small>&copy; 2022 Sydist - All Rights Reserved</small>
        </footer>
    </body>
</html>
