---
const path = Astro.url.pathname;
---

<nav class="wrapper">
    <ul>
        <li class="visually-hidden">
            <a href="#content-skipped-to">SKIP TO CONTENT</a>
        </li>
        <li>
            <a href="/" class:list={[{ current: path === "/" }]}>home</a>
        </li>
        <li>
            <a href="/about" class:list={[{ current: path.startsWith("/about") }]}>about</a>
        </li>
        <li>
            <a href="/blog" class:list={[{ current: path.startsWith("/blog") }]}>blog</a>
        </li>
        <li>
            <a href="/contact" class:list={[{ current: path.startsWith("/contact") }]}>contact</a>
        </li>
    </ul>
</nav>

<style>
    ul
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        padding: 2rem 6rem;
    }

    a
    {
        color: inherit;
        text-underline-offset: 2px;
        text-transform: lowercase;

    }

    a:active
    {
        color: var(--clr-primary);
    }

    a.current
    {
        color: var(--clr-primary);
        text-decoration: 2px underline;
        font-weight: var(--fw-bold);
        text-transform: uppercase;
    }

    .visually-hidden
    {
        text-decoration: 2px underline;
        order: 4;
        width: max-content;
    }


    @media (min-width: 1040px)
    {
        ul
        {
            flex-direction: row;
            align-items: flex-start;
            gap: var(--step-5);
        }

        .visually-hidden
        {
            margin-left: auto;
        }
    }


</style>