---
import '@styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<title>{ Astro.props.pageTitle }</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="generator" content={ Astro.generator } />
		<meta name="author" content="sydist">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg">
		<link rel="icon" type="image/png" href="/favicon.png">
	</head>
	<body>
		<slot />
	</body>
</html>
